@media (max-width: 900px) {
    #page_home {
        background-position-x: 70vw;
    }

    #page_home .content{
        align-items: center;
        text-align: center;
    }

    #page_home header a{
        position: absolute;
        bottom: 18px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page_home main{
        align-items: center;
    }

    #page_home main a{
        margin-bottom: 58px;
    }

    #page_search_output .cards{
        grid-template-columns: 1fr;
    }

    #page_search_output .cards .img{
        height: 250px
    }

    #page_create_point .field-group{
        flex-direction: column;
    }

    #page_create_point .field-group .field + .field{
        margin-left: 0;
    }
    
}

@media (min-width: 1700px){
    #page_home{
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page_home{
        background-position-y: 200px;
    }
}

