<!DOCTYPE html>
<html lang="pt_br"> <!--html é uma linguagem de marcação de texto, não uma lingua de programação. -->
<head> <!--Configurações especias da página-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}
    

    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style/main.css">

    {% block styles %}
    {% endblock styles %}

    <link rel="stylesheet" href="/style/responsive.css">

</head>
<body>
    <div id="{{ pageId }}">
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
